@{
    Layout = null;
}


<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner border_">
        @{ 
            var index = 0;
        }
        @foreach (var banner in Model)
        {   
            var slideActive = "";
            if(index == 0){
                slideActive = "active";
            }        
            <div class="carousel-item @slideActive">
                <img src="~/Bannersx/@banner.Photo" class="d-block w-100" alt="...">
            </div>
            index++;
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
</div>  

