@{
    Layout = null;
}

<form method="get" asp-controller="product" asp-action="search">
<div class="input-group border_">
    <div class="input-group-btn search-panel">
        <button type="button" class="btn btn-light dropdown-toggle department-dropdown-search" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span id="search_concept" name="categoryId">All Categories</span> 
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu customize-list" aria-labelledby="navbarDropdown" style="">
            @{ var temp = "A"; }
            @foreach (var category in Model.productGroupHeads)
            {   var alphabet = category.HeadName.ToString().Substring(0,1);
                if(alphabet != temp)
                {
                    <li><a class="dropdown-item labelx" href="#">@alphabet</a></li>
                    <div class="dropdown-divider"></div> 
                }
                <li><a class="dropdown-item" href="#@category.GroupHeadID">@category.HeadName</a></li> 
                temp = alphabet;
            }           
        </ul>
    </div>
    <input type="hidden" name="search_param" value="-1" id="search_param">
    <input type="text" class="form-control" name="keyword" id="search-input" value="@Model.keyword" placeholder="Search Category, Product Code, or Product Name..." autocomplete="off">
    <span class="input-group-btn">
        <button class="btn btn-secondaryx" type="submit" style="font-size: revert">
            <span class="fal fa-search"></span>
        </button>
    </span>
</div>
</form>

<style>
    .customize-list {
        /*position: absolute;
        inset: 0px auto auto 0px;
        margin: 0px;
        transform: translate(0px, 41px);*/
        -moz-column-count: 4;
        -moz-column-gap: 20px;
        -webkit-column-count: 4;
        -webkit-column-gap: 20px;
        column-count: 4;
        column-gap: 20px;
    }
</style>


