@{
    ViewData["Title"] = "Home Page";
}
@using improweb2022_02.Models;
@using Microsoft.AspNetCore.Http.Extensions

<div id="content-wrapper">
    <section id="content" class="container">
        <div class="row">
            <!-- #region BreadCrump -->
            <div class="breadcrumb-container d-none d-md-flex flex-wrap align-items-center mb-4 border_">
                <ol class="breadcrumb mb-0 border_" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a asp-controller="home" asp-action="index" title="Top" itemprop="item">
                            <meta itemprop="name" content="Home page" />
                            <meta itemprop="position" content="1" />
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                </ol>
                <div class="breadcrumb-item active border_">
                    <span>Disclaimer</span>
                </div>
            </div>
            <!-- #endregion -->
        </div>
        <div id="content-body" class="row">
            <div id="content-center" class="col-lg-12 border_">
                <div class="page contact-page border_">
                    <div class="page-title border_">
                        <h1 class="h2">Disclaimer</h1>
                    </div>
                    <div class="page-body">
                        <div class="row">
                            <h4>General Legal info under the following headings:</h4> 
                            <ul class="fa-ul" style="color: highlight;"> 
                                <li class="border_">1. Typographical Errors </li>
                                <li class="border_">2. Order Acceptance Policy </li>
                                <li class="border_">3. Manufacturer's Warranty </li>
                                <li class="border_">4. Disclaimer </li> 
                            </ul> 
                            <p><strong>1. Typographical Errors</strong><br>In the event a product is listed at an incorrect price due to typographical error or error in pricing information received from our suppliers, Happy Monkey - Distributors of computer hardware, software, accessories, digital lifestyle products and security equipment. shall have the right to refuse or cancel any orders placed for product listed at the incorrect price.</p> 
                            <p><strong>2. Order Acceptance Policy</strong><br> Happy Monkey - Distributors of computer hardware, software, accessories, digital lifestyle products and security equipment. will accept orders for out of stock items to ensure that you will be the first to receive the item once it becomes available. If your order is not in stock, you can either choose to backorder or cancel the order or part thereof. Once the item becomes available, it will be shipped to you. Happy Monkey - Distributors of computer hardware, software, accessories, digital lifestyle products and security equipment. reserves the right, at any time after receipt of your order and without prior notice to you, to supply less than the quantity you ordered of any item. We may require additional verifications or information before accepting any order.</p> 
                            <p><strong>3. Manufacturer's Warranty</strong><br> Anytime after the first 30 days of invoice, all returns and replacements must be handled directly with the manufacturer. Manufacturer's warranties vary on each product. Extended warranties are available directly from select manufacturers. Manufacturer information is subject to change without notice.</p> 
                            <p><strong>4. Disclaimer Of Warranties And Limitation Of Liability</strong> <br> This E-Commerce Online Retail Store Happy Monkey website is operated by Esquire on an “ as is” basis and makes no representations or warranties of any kind, express or implied, as to the operation of the site, the information, content, materials or products, included on this site. To the full extent permissible by applicable law, Esquire disclaims all warranties, express or implied, including but not limited to, implied warranties of merchantability and fitness for a particular purpose. Esquire and its directors, employees, suppliers or service providers will not be liable for any damages of any kind arising from the use of this site, including the accuracy of content or information, products or services but not limited to direct, indirect, incidental punitive and consequential damages.<br> 
                            <em>&nbsp;<br> 
                            <strong>Applicable law</strong></em><br> This E-Commerce Online Retail Store Happy Monkey website and all communications and transactions concluded using the website, are governed by, and you agree to, the application of the laws of the Republic of South Africa. As the website is targeted at South African citizens and residents any limitations on implied warranties or the exclusion or limitation of certain damages which may be applicable under the laws of any other jurisdiction are expressly waived by you.<br> 
                            <em><strong>&nbsp;</strong><br> 
                            <strong>Country of Domicile</strong></em><br> This E-Commerce Online Retail Store Happy Monkey website is governed by the laws of South Africa and Esquire System Technologies Pty Ltd chooses as its domicilium citandi et executandi for all purposes under this agreement.<br> You expressly agree that your use of the Happy Monkey website is solely at your own risk. To the full extent permissible by South African law, Happy Monkey disclaim all warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose. Happy Monkey will not be liable for any damages of any kind arising from the use of the Happy Monkey website, including, but not limited to direct, indirect, incidental, punitive, and consequential damages <br> </p> 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>