@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@model improweb2022_02.ViewModels.CustomerViewModel;

<div id="content" class="container">
    <div class="row">
        <!-- #region BreadCrump -->
        <div class="breadcrumb-container d-none d-md-flex flex-wrap align-items-center mb-4 border_">
            <ol class="breadcrumb mb-0 border_" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a asp-controller="home" asp-action="index" title="Top" itemprop="item">
                        <meta itemprop="name" content="Home page" />
                        <meta itemprop="position" content="1" />
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a asp-controller="customer" asp-action="dashboard" title="Dashboard" itemprop="item">
                        <meta itemprop="position" content="2"><span itemprop="name" dir="auto">Dashboard</span>
                    </a>
                </li>
            </ol>
            <div class="breadcrumb-item active border_">
                <span>Profile (@Model.Customer.Email)</span>
            </div>
        </div>
        <!-- #endregion -->
    </div>
    <div id="content-body" class="row">
        @await Component.InvokeAsync("DashboardSideBar")
        <!-- #endregion -->
        <!-- #region Content Center -->
        <div id="content-center" class="col-lg-9">
            <div class="page category-page">

                <div class="col-sm border_">
                    @if (ViewBag.error != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.error
                        </div>
                    }
                    <form asp-controller="customer" asp-action="register" method="post" class="form-horizontal" id="register-form" novalidate="novalidate">
                        <input name="__RequestVerificationToken" type="hidden" value="52-hh7HFzx16GakHg88WemFLTSgG8fYcOVQ1-rn9QYMldPMsc6b-Yil9GXxmWq9JYXr4SdAsGFNL8cvn0Sa8fcL1_UOCPx0IbuZ1ODC4g_s1">
                        <div class="page registration-page">
                            <div class="page-title border_">
                                <h1 class="h3">Customer Information</h1>
                            </div>
                            <div class="page-body rowx">
                                <div class="col-12 col-lg-9 col-xl-8">
                                    <fieldset class="content-group border_">
                                        <legend><span>Your Personal Details</span></legend>
                                        <div class="form-group rowx">
                                            <label class="col-md-3 col-form-label border_">Title:</label>
                                            <div class="col-md-9 form-inline">
                                                <div class="form-check form-check-inline border_">
                                                    <input class="form-check-input remember" id="gender-male"  type="radio" value="MR" asp-for="Customer.Title">
                                                    <label class="form-check-label" for="gender-male">MR</label>
                                                </div>
                                                <div class="form-check form-check-inline border_">
                                                    <input class="form-check-input remember" id="gender-female" type="radio" value="MRS" asp-for="Customer.Title">
                                                    <label class="form-check-label" for="gender-female">MRS</label>
                                                </div>
                                                <div class="form-check form-check-inline border_">
                                                    <input class="form-check-input remember" id="gender-female" type="radio" value="MS" asp-for="Customer.Title">
                                                    <label class="form-check-label" for="gender-female">MS</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group rowx"><label class="col-md-3 col-form-label" for="FirstName">First name</label>
                                            <div class="col-md-9">
                                                <input class="form-control remember" id="FirstName" placeholder="First Name" type="text" asp-for="Customer.FirstName">
                                                <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group rowx"><label class="col-md-3 col-form-label" for="LastName">Last name</label>
                                            <div class="col-md-9">
                                                <input class="form-control remember" id="LastName" placeholder="Last Name" type="text" asp-for="Customer.Surname">
                                                <span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group rowx">
                                            <label class="col-md-3 col-form-label required" for="Tel1">Preferred Contact No:.</label>
                                            <div class="col-md-9">
                                                <input class="form-control remember" id="Tel1" type="text" placeholder="Preferred Contact No" asp-for="Customer.Tel">
                                                <span class="field-validation-valid" data-valmsg-for="Tel1" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group rowx">
                                            <label class="col-md-3 col-form-label" for="Tel2">Alternative Contact No:.</label>
                                            <div class="col-md-9">
                                                <input class="form-control remember" id="Tel2" type="text" placeholder="Alternative Contact No" asp-for="Customer.Tel2">
                                                <span class="field-validation-valid" data-valmsg-for="Tel2" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group rowx">
                                            <label class="col-md-3 col-form-label" for="CellNo">Cell No:.</label>
                                            <div class="col-md-9">
                                                <input class="form-control remember" id="CellNo" type="text" placeholder="Alternative Contact No" asp-for="Customer.CellNo">
                                                <span class="field-validation-valid" data-valmsg-for="CellNo" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group rowx">
                                            <label class="col-md-3 col-form-label" for="FaxNumber">Fax Number:.</label>
                                            <div class="col-md-9">
                                                <input class="form-control remember" id="FaxNumber" type="text" placeholder="Fax Number" asp-for="Customer.Fax">
                                                <span class="field-validation-valid" data-valmsg-for="FaxNumber" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group rowx"><label class="col-md-3 col-form-label required" for="Email">Email</label>
                                            <div class="col-md-9">
                                                <input class="form-control remember" data-val="true" data-val-email="'Email' is not a valid email address." data-val-required="'Email' should not be empty." id="Email" name="Email" type="email"  asp-for="Customer.Email">
                                                <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group rowx">
                                            <label class="col-md-3 col-form-label required" for="Username">Username</label>
                                            <div class="col-md-9">
                                                <input class="form-control remember" id="Username" type="text" asp-for="Customer.Email">
                                                <span class="field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group rowx gdpr-consent ">
                                            <div class="col form-control-plaintext">
                                                <div class="form-check">
                                                    <input class="form-check-input gdpr-consent-check" id="gdpr-consent-112580354" name="GdprConsent" type="checkbox" value="true"><input name="GdprConsent" type="hidden" value="false">
                                                    <label class="form-check-label" for="gdpr-consent-112580354">
                                                        Yes I've read the <a href="/privacyinfo">privacy terms</a> and agree that my data
                                                        given by me can be stored electronically. My data will thereby only be used to process
                                                        my inquiry.
                                                    </label>
                                                </div>
                                                <span class="field-validation-valid" data-valmsg-for="GdprConsent" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="content-group border_">
                                        <legend><span>Your Password</span></legend>
                                        <div class="form-group rowx"><label class="col-md-3 col-form-label required" for="Password">Password</label>
                                            <div class="col-md-9">
                                                <input class="form-control" data-val="true" data-val-length="'Password' must be between 6 and 500 characters." data-val-length-max="500" data-val-length-min="6" 
                                                        data-val-required="'Password' should not be empty." id="Password" type="password" asp-for="Customer.Password">
                                                <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group rowx"><label class="col-md-3 col-form-label required" for="ConfirmPassword">Confirm password</label>
                                            <div class="col-md-9">
                                                <input class="form-control" data-val="true" data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" 
                                                        data-val-required="'Confirm password' should not be empty." id="ConfirmPassword" name="ConfirmPassword"
                                                    type="password">
                                                <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="content-group border_">
                                        <legend><span>Company Details</span></legend>
                                        <div class="form-group rowx"><label class="col-md-3 col-form-label" for="Company">Company name</label>
                                            <div class="col-md-9">
                                                <input class="form-control remember" id="Company" asp-for="Customer.Company" placeholder="Optional" type="text">
                                                <span class="field-validation-valid" data-valmsg-for="Company" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group rowx"><label class="col-md-3 col-form-label" for="VATNo">VAT No</label>
                                            <div class="col-md-9">
                                                <input class="form-control remember" id="VATNo" asp-for="Customer.VatNo" placeholder="Optional" type="text">
                                                <span class="field-validation-valid" data-valmsg-for="VATNo" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="content-group border_">
                                        <legend><span>Options</span></legend>
                                        <div class="form-group rowx">
                                            <div class="col">
                                                <div class="form-check">
                                                    <input class="form-check-input remember" data-val="true" data-val-required="'I would like to subscribe to the newsletter. I agree to the <a href=&quot;{0}&quot; Privacy policy</a>. Unsubscription is possible at any time.' must not be empty." id="Newsletter"
                                                        name="Newsletter" type="checkbox" value="true"><input name="Newsletter" type="hidden" value="false">
                                                    <label class="form-check-label" for="Newsletter">
                                                        I would like to subscribe to the newsletter. I agree to the.<a
                                                        href="/privacyinfo">Unsubscription is possible at any time.</a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-group rowx">
                                        <div class="col-12 text-muted">
                                            * Input elements with asterisk are required and have to be filled out.
                                        </div>
                                    </div>
                                    <div class="form-group rowx">
                                        <div class="col">
                                            <button type="submit" class="btn btn-primary btn-lg" name="register-button" id="register-button">
                                               <i class="fal fa-fw fa fa-save list-group-item-icon"></i>
                                                <span>Privacy</span>
                                            </button>
                                            <input type="hidden" asp-for="Customer.CustID" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                $(document).ready(function(){
                                    $('.my-select').selectpicker();
                                    $(function () {
                                        $('select').selectpicker();
                                    });
                                });
                                $(function() {
                                    setRememberedFormFields("registerVals");
                                    _.delay(function() {
                                        $(".country-selector").trigger("change");
                                    }, 50);
                                });

                                const form = document.getElementById('register-form');
                                form.addEventListener('focusout', (event) => {
                                    rememberFormFields("register-form", "registerVals");
                                });
                            </script>
                    </form>
                    </div>
                </div>
                <div class="row" style="padding:15px">
                    <div class="col-sm border_">
                        <h5 class="border_">Secure Shopping Guarantee</h5>
                        <p class="border_">We understand that security is critical to our shoppers so we guarantee that every transaction you make at www.esquireshop.com will be safe and secure. <a href="#">Click here</a> to learn more about our privacy policy.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>